.about_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 50px;
  margin: 0px 50px;
}
.about_text {
  color: white;
}
.about_text h3 {
  font-size: 35px;
}
.about_text p {
  margin-top: 30px;
  font-size: 20px;
  line-height: 30px;
}
.about_image_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.vertical_image img {
  height: 600px;
  border-radius: 20px;
}
.horizontal_image img {
  height: 290px;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}
.mobile_device_img {
  display: none;
}

.restaurant_services {
  background-color: var(--color-black);
  padding: 100px 50px;
  margin-top: 120px;
  border: 1px solid var(--color-golden);
  border-radius: 12px;
}
.headtext__services {
  font-family: var(--font-another);
  color: var(--color-golden);
  font-size: 55px;
  line-height: 83.2px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-weight: 200;
  margin-bottom: 20px;
}
.icons_grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: space-between;
  color: var(--color-golden);
  align-items: center;
  font-size: 25px;
  padding: 30px 0;
}
.icon_vertical_align {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* For Mobile Devises */
@media screen and (max-width: 650px) {
  .about_grid {
    grid-template-columns: repeat(1, 1fr);
    margin: 0;
    gap: 0;
  }
  .about_text h3 {
    font-size: 25px;
  }
  .about_text p {
    font-size: 17px;
  }
  .about_image_grid {
    display: none;
  }

  .vertical_image img {
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
  }
  .horizontal_image img {
    margin-left: 0;
    width: 100%;
  }
  .mobile_device_img {
    display: block;
    display: flex;
    align-items: center;
    margin-top: 50px;
    justify-content: center;
  }
  .mobile_first_img {
    width: 100px;
    border: 1px solid var(--color-golden);
    border-radius: 20px;
  }
  .mobile_second_img {
    width: 80px;
    margin: 0 10px;
    border: 1px solid var(--color-golden);
    border-radius: 20px;
  }
  .restaurant_services {
    padding: 10px;
    margin-top: 80px;
  }
  .headtext__services {
    font-size: 32px;
    margin-bottom: 0px;
  }
  .icons_grid {
    grid-template-columns: repeat(3, 1fr);
    font-size: 15px;
    gap: 20px;
  }
}
