.food_list {
  background-color: var(--color-black);
  width: 100%;
}
.food_list_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-top: 50px;
  align-items: center;
  background-color: var(--color-black);
}
.food_list_grid_multi_slider {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* gap: 30px; */
  margin-top: 50px;
  align-items: flex-start;
  background-color: var(--color-black);
}
.food_list_slider {
  width: 600px;
}
.food_list_flex {
  display: flex;
  gap: 4px;
  color: var(--color-golden);
  padding: 10px 0px;
  justify-content: space-between;
}
.margin_left {
  margin-left: 24px;
}
.img_check_mark {
  width: 20px;
}
.food_img {
  width: 60px;
}
.platter_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 60px;
  gap: 40px;
  color: var(--color-golden);
  text-align: center;
}
.single_platter {
  background-color: var(--color-black);
  padding: 20px;
  border-radius: 12px;
  border: 1px solid var(--color-golden);
}
.single_platter h3 {
  font-size: 25px;
  padding: 10px 0;
}
.single_platter p {
  font-size: 17px;
  padding: 5px 0;
}
.platter_grid img {
  width: 100%;
  border-radius: 12px;
}
@media screen and (max-width: 650px) {
  .food_list_grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .food_list_slider {
    width: 320px;
  }
  .platter_grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
