.slider_img {
  width: 100%;
  height: 700px;
  object-fit: cover;
}
.slider_margin {
  margin-top: 40px;
}
@media screen and (max-width: 650px) {
  .slider_img {
    width: 100%;
    height: 340px;
  }
}
